* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-wrapper, .hero-intro-section {
  max-width: 1200px;
  margin: 0 auto;
}

/* header */

.rz-logo {
  /* width: 34px; */
  height: 50px;
}

.rz-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.rz-navbar .rz-navbar-content .rz-content {
  display: flex;
  flex-direction: row;
  font-family: 'Roboto Slab', serif;
}

.rz-navbar .rz-navbar-content .rz-content li {
  padding: 12px 16px;
}

.rz-navbar .rz-navbar-content .rz-content-links li a {
  text-decoration: none;
  transition: all 0.3s ease;
  color: #757575;
  font-size: 16px;
  text-transform: capitalize;
}

.rz-navbar .rz-navbar-content .rz-content-links li a:hover {
  color: #000;
}

.rz-navbar .rz-navbar-content .rz-content-social li:hover {
  cursor: pointer;
}

.rz-navbar .rz-navbar-content .rz-content-social li a {
  text-decoration: none;
  transition: all 0.3s ease;
  color: #3f3f3f;
  font-size: 18px;
  text-transform: capitalize;
}

.rz-navbar .rz-navbar-content .rz-content-social li a:hover {
  color: #000;
}

/* hero intro */

.hero-intro-section .rz-intro-wrapper {
  padding: 120px 0;
}

.hero-intro-section .rz-intro-div {
  max-width: 800px;
  margin: 0 auto;
}

.hero-intro-section .rz-intro-div .rz-intro-greet h1 {
  color: #3f3f3f;
  font-family: tcyz;
  /* min, val, max */
  font-size: clamp(1rem, 10vw, 4rem);
  font-style: normal;
  font-weight: 500;
  line-height: 68px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: left;
  text-transform: none;
}

.hero-intro-section .rz-intro-div .rz-intro-description p {
  color: #515151;
  font-family: tcyz;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin: 10px 0 0 0;
  text-align: left;
  text-transform: none;
}